.song-list-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  justify-content: center;
  align-items: baseline;
  column-gap: 20px;
}

.fav-wrapper {
  margin-left: 100px;
  margin-right: 100px;
}

.album {
  border: 1px white solid;
  align-items: center;
  text-align: center;
}

a {
}
